body {
    background-color: darkcyan;
}
.nav{
    border: solid black 1px;
    border-radius: 5px;
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 25px;
}
.links{
    transition: 0.1s ease;
    border:  solid transparent 1px;
    border-radius: 10px;
    height: 80%;
    padding: 2px;
}
.links:hover{
    transform: scale(1.1);
    border: solid 1px white;
}
.home {
    transition: 0.1s ease;
    text-align: center;
    border-radius: 10px;
    padding: 2px;
}
.home:hover{
    transform: scale(1.1);
    border: solid 1px white;
}
a{
    text-decoration: none;
    color: black;
}



.box1 {
    border: solid transparent 1px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}
.pf_links{
    transition: 0.3s ease;
}
.pf_links:hover{
    transform: scale(1.6);
}
.all_link{
    background-color: darkcyan;
    border-radius: 10px;
    height: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.pfp img{
    width: 20%;
    border-radius: 100%;
    border: solid darkcyan;
}
.bio{
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: darkcyan;
}

.box_footer{
    background-color: darkslategray;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 60px;
}
.social_links{
    font-size: 30px;
    margin-top: 25px;
    transition: 0.3s ease;
}
.social_links:hover{
    transform: scale(1.6);
}
.all_footer_links{
    display: flex;
    flex-direction: column;
    width: 60px;
}
input{
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
button{
    transition: 0.3s ease;
    
}
button{
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 20px;
}
button:hover{
    transform: scale(1.2);
}